
.brand-management {
    margin-top: 20px;
}
.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.table {
    margin-top: 20px;
}

.table th,
.table td {
    text-align: center;
}

.table-actions {
    display: flex;
    justify-content: center;
}

.table-actions .btn {
    width: 70px;
    margin-left: 10px;
}


/* Modal Styles */
.modal-header {
    background-color: #343a40;
    color: #fff;
}

.modal-body {
    padding: 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

/* Styles for the modal */
.modal-edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto;
    max-width: 600px;
    max-height: 80vh;
}

.modalEdit-title{
    padding: 5px;
    text-align: center;
    font-weight: bold;
    align-items: center;
}


/*style for image*/
.brand-image {
    width: 80px !important;
    height: auto !important;
    object-fit: cover;
    border-radius: 5px;
}

.brand-name{
    display: flex;
}

.brand-name .name{
    color: #ed0c0c;
    margin-top: 10px;
    margin-left: 10px;
}

.preview{
    display: none;
    width: 120px;
    height: auto;
}