.header {
  background-color: #333;
  color: #007bff;
  padding-top: 20px;
  padding-bottom: 20px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 70px;
}

.header h3 {
  margin: 0;
  font-size: 28px;
  display: flex;
  margin-left: 300px;
  align-items: center;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  min-width: 100px;
  background-color: #333;
  padding-top: 65px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  color: #fff;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar a {
  padding: 15px;
  display: block;
  color: #ddd;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 16px;
}

.sidebar a:hover {
  background-color: #007bff;
  color: white;
}

.sidebar a.active {
  background-color: #7a8590;
  color: white;
}

.main-content {
  margin-left: 250px;
  margin-top: 70px;
  padding: 20px;
  min-height: 100vh;
  background-color: #fff;
}

/* footer */

.wsp {
  /* background-color: #343a40; */
  background-color: #323232;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 16px;
  border-top: 1px solid #007bff;
}

.wsp b {
  color: #007bff;
  font-size: 18px;
}

.wsp .opacity1 span {
  opacity: 0.7;
  color: #ddd;
}

.wsp .center {
  margin: 0 10px;
  font-weight: bold;
  color: #ddd;
}
