.chart {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #f9f8f8;
  border: 1px solid #2a1919;
  border-radius: 5px;
  width: 500px;
  margin: 50px auto 0px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.chart-container {
  width: 300px;
  height: 300px;
  position: relative;
}

.chart-container .center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
}

.recent-order {
  flex-direction: column;
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  margin: 40px;
  margin-bottom: 80px;
}

.recent-order h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0a0303;
}

.recent-order table {
  width: 100%;
  border-collapse: collapse;
}

.recent-order table th,
.recent-order table td {
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #dddddd;
}

.recent-order table th {
  background-color: #16bedf;
  font-weight: normal;
}

.recent-order table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-name {
  display: flex;
  align-items: center;
}

.product-name img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin-right: 10px;
}

.recent-order .total-order {
  background-color: #e0f7fa;
  color: #e2470f;
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}
