.header-top {
  background-color: #f5f5f5;
  border: 1.5px solid rgb(221, 216, 216);
}

.logo img {
  height: auto;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.header .btn img.icon-search {
  width: 18px;
  height: auto;
}

.header .btn {
  background-color:   #fe4800;;
  padding: 10px 13px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
.header .btn:hover {
  background-color: #cc3608;
}

.header .input-group input {
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.header .input-group {
  padding-left: 30px;
  padding-right: 30px;
}

.input-group-field.auto-search.search-auto.form-control {
  height: 40px !important;
}

.header .input-group input:hover {
  border-color: #bfb7b7;
  box-shadow: 0 0 8px rgba(144, 147, 154, 0.5);
}

.header .input-group input:focus {
  border-color: #bfb7b7;
  box-shadow: 0 0 8px rgba(216, 216, 220, 0.5);
}

.header-control a {
  text-decoration: none;
  color: black;
  padding-left: 20px;
  position: relative;
}

.header-account,
.header-cart {
  position: relative;
  align-items: center;
  gap: 10px;
}

.header-account a {
  text-decoration: none;

  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.3s ease;
}

.header-account a:hover,
.header-cart a:hover {
  color: #fe4800;
}

.header-account svg {
  fill: currentColor;
  transition: fill 0.3s ease;
}

.header-account a:hover svg,
.header-cart a:hover {
  fill: #fe3700;
}

.header-account .info {
  font-size: 16px;
  font-weight: bold;
}

.header-cart {
  font-size: 16px;
  font-weight: bold;
}

.drop-account a:hover {
  color: rgb(244, 10, 10);
  font-weight: bold;
}

.drop-account {
  display: none;
  position: absolute;
  top: 100%;
  background-color: white;
  padding: 10px;
  z-index: 1000;
  width: auto;
}
.drop-account a {
  padding: 5px;
}

.header-account:hover .drop-account {
  display: block;
}

@media (max-width: 1000px) {
  .input-group {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
  }
}

@media (max-width: 1000px) {
  .header-account,
  .header-cart {
    display: block !important;
  }

  .ul-control {
    justify-content: end;
  }
}

@media (max-width: 576px) {
  .ul-control {
    flex-direction: column;
    gap: 10px;
  }
}

.top-bar {
  background-color: #f9f9f9;
}
.cart > svg {
  position: relative;
}

.top-bar-left {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 5px;
}

.top-bar-left li {
  margin-right: 20px;
}

.top-bar-left li a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.top-bar-left li a svg {
  margin-right: 10px;
  color: red;
}

.top-bar-left li a span {
  font-size: 16px;
}

.top-bar-left li a svg {
  fill: #ff0000;
  margin-right: 10px;
}

.top-bar-left li a:hover {
  color: red;
  font-weight: 400;
}

.header-bottom {
  background-color: #f9f9f9;
  margin: 0;
  color: #333333;
}

.header-bottom .navbar-nav {
  margin: 0 auto;
}

.nav-item {
  margin-left: 20px;
  margin-right: 20px;
}

.nav-link {
  color: black;
  font-weight: 500;
  transition: color 0.3s ease;
  font-size: 16px;
}

.nav-link:hover {
  color: #ff0000;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .header-bottom {
    position: relative;
    display: block;
    padding: 10px 0;
  }

  .header-bottom .navbar {
    flex-direction: column;
    align-items: center;
  }

  .header-bottom .navbar-nav {
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  .nav-item {
    margin: 5px 0;
  }

  .header .dropdown-menu {
    position: static;
    float: none;
  }

  .dropdown-item {
    text-align: center;
  }
}

.header-bottom .nav-item .dropdown-menu {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-weight: 300;
}

.nav-item:hover .dropdown-menu,
.nav-item .dropdown-menu:hover {
  display: block;
  opacity: 1;
}

.header-bottom .dropdown-item:hover {
  font-weight: 500;
  color: #ff0000;
}


.dropdown-menu .brand{
  color: #333333;
}

.dropdown-menu .brand:hover {
  color: #ff0000;
}

ul {
  list-style-type: none;
}