.Slides {
  display: flex;
  position: relative;
}

.Slides img {
  height: 500px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.main .dot-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.main .dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.main .dot:hover {
  opacity: 1; /* Tăng độ trong suốt khi hover */
}

.fades .active {
  background-color: rgb(244, 42, 11);
}

.fades {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.main .title {
  font-size: 18px;
  font-weight: bold;
}

.main .desc {
  font-size: 16px;
  font-weight: 400;
}

.main .item {
  display: flex;
  align-items: center;
}
.main .icon {
  margin-right: 10px;
}

.main .icon img {
  width: 25px;
  height: auto;
}

.main .info {
  color: black;
  font-weight: 600;
}

.main .about h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* slidebar */
.main .container {
  max-width: 90%;
  /* margin-top: 20px; */
  padding-block: 20px;
}

.main .ps-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main .ps-slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.main .ps-slide {
  flex: 0 0 25%;
  position: relative;
}

.main .ps-slide {
  position: relative;
  overflow: hidden;
}

.main .ps-slide img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding-right: 10px;
  padding-left: 10px;
}

.main .ps-slide img:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.main .ps-overlay {
  position: absolute;
  bottom: 40px;
  left: 20px;
  right: 20px;
  background: #b5b2b2;
  color: #151313;
  font-weight: 600;
  text-align: center;
  padding: 8px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.main .ps-overlay:hover {
  background-color: rgb(234, 73, 15);
  color: white;
  transform: scale(1.1);
  left: 30px;
  right: 30px;
}

.ps-slide:hover .ps-overlay::before {
  content: "Xem thêm: ";
}

.prev,
.next {
  display: none;
}

@media (max-width: 768px) {
  .ps-slide {
    flex: 0 0 50%;
  }
}

@media (max-width: 576px) {
  .ps-slide {
    flex: 0 0 100%;
  }
}
.main .ps h3 {
  padding-top: 40px;
  padding-bottom: 20px;
}


.main .block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.block-title h2 {
  margin: 0;
  color: black;
}

.main .block-title .block-brand {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main .block-title .block-brand li {
  margin-left: 8px;
  cursor: pointer;
  padding: 5px 8px;
}

.main .block-title .block-brand a {
  color: black;
  text-decoration: none;
}

.main .block-title .block-brand a:hover {
  color: #ec460e;
}


@media only screen and (max-width: 768px) {
  .main .block-title {
    flex-direction: column;
    align-items: flex-start;
  }

  .main .block-title .block-brand {
    flex-direction: column;
    align-items: flex-start;
  }

  .main .block-title .block-brand li {
    margin-left: 0;
    margin-bottom: 8px;
  }

  .main .block-title .block-brand a {
    font-size: 16px;
  }
}


/* product list */
.product-container {
  display: flex;
  justify-content: space-between;
}

.product {
  overflow: hidden;
}

.product:hover .product-image img {
  transform: scale(1.1);
}

.product-image {
  position: relative;
  overflow: hidden;
  border: 1px solid #cad0d6;
}

.product-image img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
}

.product:hover .product-icons .icon {
  background-color: white;
  transition: background-color 0.3s ease;
  display: block;
  overflow: hidden;
}

.discount-badge {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #ff5722;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  z-index: 1;
}

.product-icons {
  position: absolute;
  top: 10px;
  right: 5px;
  display: flex;
  flex-direction: column;
}

.product-icons .icon {
  border: none;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8%;
  display: none;
}

.product-icons .icon:hover {
  cursor: pointer;
  background-color: #ec460e !important;
}

.product-details {
  padding-top: 15px;
  padding-left: 5px;
  padding-bottom: 20px;
}

.product-name {
  font-size: 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 15px;
}

.product-name:hover {
  color: #ec460e;
}

.product-price {
  font-size: 18px;
  color: red;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}
