.order {
  font-family: Arial, sans-serif;
  background-color: white;
}

.order.container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

h1.shop__name {
  color: #f43d08;
  text-align: center;
  padding-bottom: 20px;
}

.order .section {
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.order .section__title {
  font-size: 1.5rem;
  color: #343a40;
}

/*.order .form-group {*/
/*  margin-bottom: 15px;*/
/*}*/

/*.order label {*/
/*  font-weight: bold;*/
/*}*/

/*.order .form-control {*/
/*  border-radius: 5px;*/
/*  border: 1px solid #ced4da;*/
/*  padding: 10px;*/
/*}*/

.order .alert {
  margin-top: 20px;
  padding: 15px;
}

#order-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 600px;
  height: 400px;
  padding: 20px;
  border-radius: 5px;
  background-color: #d4edda;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#order-success h3 {
  margin-bottom: 10px;
  color: #ed5814;
}

#order-success p {
  margin-bottom: 10px;
}

#order-success a {
  margin: 5px;
}



.cart-table th,
.cart-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  font-weight: bold;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-info img {
  width: 100px;
  height: auto;
  margin-right: 15px;
  border: 1px solid #ddd;
}

.total-price{
  color: red;
  font-weight: bold;
  text-align: right;

}