.sign-up .bread-crumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

.sign-up .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.sign-up .title-breadcrumb {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.sign-up .breadcrumb {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  font-size: large;
}
.breadcrumb-item a.custom-link {
  color: #fff;
  text-decoration: none;
}
.breadcrumb-item a.custom-link:hover {
  color: blue;
  font-size: larger;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "->";
  padding: 0 5px;
  color: #ed0707;
}

.sign-up .form-control {
  background-color: rgb(212, 209, 209);
  color: black;
}

.sign-up .register {
  border: 1px solid #ccc;
  border-radius: 0.375rem;
  padding: 1.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 2rem auto;
  max-width: 500px;
}

.sign-up .wpx {
  text-align: center;
  margin-top: 10px;
  color: black;
  font-size: large;
}

.sign-up .btn {
  background-color: rgb(243, 15, 15);
  border-radius: 10px;
  color: #fff;
  width: 100%;
}

.sign-up .btn:hover {
  background-color: rgb(163, 10, 10);
  font-size: large;
}

.social-login--facebook:hover,
.social-login--google:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.social-login--facebook,
.social-login--google {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #3b5998;
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  border-radius: 5px;
  padding: 6px 15px;
  transition: background-color 0.3s ease;
  width: 180px;
  cursor: pointer;
}

.social-login--facebook img,
.social-login--google img {
  margin: 0;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  background-color: white;
}

.social-login--google {
  background-color: white;
  color: gray;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-left: 20px;
}

.sign-up .invalid-feedback {
  margin-top: -20px;
  color: #ed0707;
  margin-left: 10px;
}

.sign-up .btn-register{
  color: #007bff;
}


.overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.7);
   z-index: 1000;
   display: flex;
   justify-content: center;
   align-items: center;
 }


.success-message {
  background-color: #424445;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  color: #cad0d6;
}


.success-message a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border-radius: 5px;
}

.success-message a:hover {
  background-color: #2f89ec;
}

